services:
  db:
    image: postgres:15.4-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    expose:
      - "5432"
    volumes:
      - db:/var/lib/postgresql/data

  redis:
    image: redis:7.0-alpine
    restart: always
    expose:
      - "6379"

volumes:
  db:
    name: project_db
    driver: local
